<!-- displaying the student details using a table -->
<h1 [ngStyle]={align:center}>Student Details</h1>
<table class="table">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>Name</th>
            <th>Roll_No</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Day Scholar</th>
          </tr>
        </thead>
  <tbody>
    <!-- Using ngFor for displaing the studnent array and using ngSTyle to represent the odd and event index in different colors -->
    <tr [style.color] = "((i+1) % 2 === 0) ? 'green' : 'red'" *ngFor="let student of studentList;let i = index" [attr.data-index]="i" >
      <td>{{i+1}}</td>
      <td>{{student.name}}</td>
      <td>{{student.roll_number}}</td>
      <td>{{student.age}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.isDayScholar}}</td>
    </tr>
  </tbody>
</table>